body{
    font-family: Helvetica;
}
header{
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
    background-image:url("../pattern.jpg");
    margin-top: 80px;
    margin-bottom: 80px;
}
#brushes h2{
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: mediumspringgreen;
}